<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/books/history}">
    Lịch sử mượn sách
</a>
<table border = 1px>
  <tr>
    <th>STT</th>
    <th>Tên sách</th>
    <th>Thể loại</th>
    <th>Số lượng</th>
    <th>Mượn sách</th>
  </tr>
  <tr th:each="book,bookStatus :${books}">
      <td th:text="${bookStatus.count}"></td>
      <td th:text="${book.name}"></td>
      <td th:text="${book.category}"></td>
      <td th:text="${book.quantity}"></td>
      <td><a th:href="@{/books/{id}/detail(id=(${book.id}))}">Mượn sách</a></td>
  </tr>
</table>
</body>
</html>