<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/songs/update}" th:object="${songRequestDto}" method="post">
    <fieldset>
        <legend>Thêm mới bài hát</legend>
        <input type="hidden"  th:field="*{id}">
        <label>Tên bài hát
        <input type="text"  th:field="*{songName}">
        </label>
        <small style="color:red" th:if="${#fields.hasErrors('songName')}" th:errors="*{songName}"></small><br>
        <label>Thể loại
        <input type="text" th:field="*{singer}">
        <small style="color:red" th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></small><br>
        </label>
        <label>Ca sĩ
        <input type="text" th:field="*{category}">
        <small style="color:red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></small><br>
        </label>
        <button>Cập nhật</button>
    </fieldset>
</form>
</body>
</html>